* {
    box-sizing: border-box;
	margin:0; padding:0
}
body{
	font-family: 'Fira Sans', sans-serif;
	margin: 0;
	padding: 0;
	background-image: url(./assets/img/Repeatable_Bg.png),url(./assets/img/Stretchable_BG.png);
	background-size: auto,auto;
    background-repeat: repeat,repeat-x;
	position: fixed;
	min-height: 100%;
	width: 100%;
	height: 100%;
}
img{
	max-width: 100%;
	max-height: 100%;
}
.game-wrap{
	position:relative;
	max-width: 1200px;
	height: 100%;
	margin: auto;
}
.inner-game-wrap{
	max-width: 500px;
	height: 100%;
	margin: auto;
	padding: 0 25px;
}
.useMe {
    animation: shake 1s ease-in-out infinite;
}
.path .gotti {
	z-index: 10;
	margin: auto;
	height: auto;
    width: 25px;
	cursor: pointer;
	animation: bounceInGotti 0.8s ease-in-out;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
}

.path .gotti:nth-of-type(2) {
	top: 50%;
	left: 40%;
	z-index: 9
}

.path .gotti:nth-of-type(3) {
	top: 50%;
	left: 60%;
}

.path .gotti:nth-of-type(4) {
	top: 50%;
	left: 70%;
}

.path .gotti:nth-of-type(5) {
	top: 50%;
	left: 80%;
}

.path .gotti:nth-of-type(6) {
	top: 50%;
	left: 90%;
}

.path .gotti:nth-of-type(7) {
	top: 50%;
	left: 100%;
}

.path .gotti:nth-of-type(8) {
	top: 50%;
	left: 30%;
	z-index: 8;
}

.path .gotti:nth-of-type(9) {
	top: 50%;
	left: 20%;
	z-index: 7;
}

.path .gotti:nth-of-type(10) {
	top: 50%;
	left: 10%;
	z-index: 6;
}

.path .gotti:nth-of-type(11) {
	top: 50%;
	left: 0%;
	z-index: 5;
}
.rotateBoard90 .path .gotti,
.rotateBoard270 .path .gotti{
    left: 50%;
    top: 50%;
}
.rotateBoard90 .path .gotti:nth-of-type(2),
.rotateBoard270 .path .gotti:nth-of-type(2) {
    left: 50%;
    top: 40%;
    z-index: 9
}

.rotateBoard90 .path .gotti:nth-of-type(3),
.rotateBoard270 .path .gotti:nth-of-type(2) {
    left: 50%;
    top: 60%;
}

.rotateBoard90 .path .gotti:nth-of-type(4),
.rotateBoard270 .path .gotti:nth-of-type(4) {
    left: 50%;
    top: 70%;
}

.rotateBoard90 .path .gotti:nth-of-type(5),
.rotateBoard270 .path .gotti:nth-of-type(5) {
    left: 50%;
    top: 80%;
}

.rotateBoard90 .path .gotti:nth-of-type(6),
.rotateBoard270 .path .gotti:nth-of-type(6) {
    left: 50%;
    top: 90%;
}

.rotateBoard90 .path .gotti:nth-of-type(7),
.rotateBoard270 .path .gotti:nth-of-type(7) {
    left: 50%;
    top: 100%;
}

.rotateBoard90 .path .gotti:nth-of-type(8),
.rotateBoard270 .path .gotti:nth-of-type(8) {
    left: 50%;
    top: 30%;
    z-index: 8;
}

.rotateBoard90 .path .gotti:nth-of-type(9),
.rotateBoard270 .path .gotti:nth-of-type(9) {
    left: 50%;
    top: 20%;
    z-index: 7;
}

.rotateBoard90 .path .gotti:nth-of-type(10),
.rotateBoard270 .path .gotti:nth-of-type(10)  {
    left: 50%;
    top: 10%;
    z-index: 6;
}

.rotateBoard90 .path .gotti:nth-of-type(11),
.rotateBoard270 .path .gotti:nth-of-type(11) {
    left: 50%;
    top: 0%;
    z-index: 5;
}
.useMe {
	animation: shake 1s ease-in-out infinite;
	z-index: 11 !important;
}
.path .gotti.useMe{
	animation: shakeGotti 1s ease-in-out infinite !important;
}
.language {
    position: absolute;
    top: 50%;
    z-index: 10000000000000000000000000000000000000000000;
}
@media screen and (max-width: 767px) {
	.path .gotti{
		width: 15px;
	}
}